<mat-card>
  <mat-card-header>
    <mat-card-title>Upload an archive</mat-card-title>
  </mat-card-header>

  <mat-card-content>

    <input hidden id="input-file-id" #inputfileid multiple type="file" (change)="handleInputFile($event.target.files)">
    <button type="button" color="primary" mat-raised-button (click)="inputfileid.click()">Browse Files </button>
    <span *ngIf="fileName !== null" style="font-style: italic"> &nbsp; Selected file: {{fileName}} </span>

    <br>
    <br>
    <button mat-raised-button color="primary" (click)="sendInputFile()"> Upload Archive </button>


  </mat-card-content>
</mat-card>
<br>
<br>


<mat-card *ngIf="userArchives != null || userBoughtArchives != null">


  <!-- ========== USER UPLOADED ARCHIVE TABLE ========== -->
  <h1 *ngIf="userArchives != null">Archivi caricati:</h1>

  <mat-expansion-panel *ngFor="let archive of userArchives; let i = index" [ngClass]="{greyClass: archive.deleted}">

    <mat-expansion-panel-header>
      <mat-panel-title>
        <button type="button" color="primary" mat-raised-button (click)="download(archive.id, archive)">Download</button>
        <!-- con le graffe capisce che è un oggetto e può accedere agli elementi -->
        <span *ngIf="archive.deleted"> [DELETED] &nbsp; </span>
        <button mat-raised-button color="warn" (click)="deleteArchive(archive.id, i)" *ngIf="!archive.deleted"> X </button> &nbsp; {{ archive.id }}
      </mat-panel-title>
      <mat-panel-description>
        {{ archive.boughtCounter }}
      </mat-panel-description>
    </mat-expansion-panel-header>



    <table mat-table [dataSource]="archive.elements" class="mat-elevation-z8">

      <ng-container matColumnDef="timestamp">
        <th mat-header-cell *matHeaderCellDef> Timestamp </th>
        <td mat-cell *matCellDef="let element"> {{element.timestamp | date : "dd/MM/yyyy @ H:mm:ss"}} </td>
      </ng-container>


      <ng-container matColumnDef="latitude">
        <th mat-header-cell *matHeaderCellDef> Latitude </th>
        <td mat-cell *matCellDef="let element"> {{element.location.x}} </td>
      </ng-container>


      <ng-container matColumnDef="longitude">
        <th mat-header-cell *matHeaderCellDef> Longitude </th>
        <td mat-cell *matCellDef="let element"> {{element.location.y}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

  </mat-expansion-panel>
  <!-- ========== END USER UPLOADED ARCHIVE TABLE ========== -->

  <br>
  <br>

  <!-- ========== USER BOUGHT ARCHIVE TABLE ========== -->

  <h1 *ngIf="userBoughtArchives != null">Archivi comprati:</h1>
  <mat-expansion-panel *ngFor="let boughtArchive of userBoughtArchives">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <button type="button" color="primary" mat-raised-button (click)="download(boughtArchive.id, boughtArchive)">Download</button>
        {{ boughtArchive.id }}
      </mat-panel-title>
      <mat-panel-description>
        {{ boughtArchive.userid }}
      </mat-panel-description>
    </mat-expansion-panel-header>


    <table mat-table [dataSource]="boughtArchive.elements" class="mat-elevation-z8">
      Name Column
      <ng-container matColumnDef="timestamp">
        <th mat-header-cell *matHeaderCellDef> Timestamp </th>
        <td mat-cell *matCellDef="let element"> {{element.timestamp | date : "dd/MM/yyyy @ H:mm:ss"}} </td>
      </ng-container>

      Weight Column
      <ng-container matColumnDef="latitude">
        <th mat-header-cell *matHeaderCellDef> Latitude </th>
        <td mat-cell *matCellDef="let element"> {{element.location.x}} </td>
      </ng-container>

      Symbol Column
      <ng-container matColumnDef="longitude">
        <th mat-header-cell *matHeaderCellDef> Longitude </th>
        <td mat-cell *matCellDef="let element"> {{element.location.y}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

  </mat-expansion-panel>
  <!-- ========== END USER BOUGHT ARCHIVE TABLE ========== -->

</mat-card>