<button mat-raised-button color="warn" style="margin-right: 15px" (click)="resetPolygon()">Reset polygon</button>

<button mat-raised-button color="primary" (click)="buy()">Buy preview</button>

<br>
<br>

<!-- Reference here: https://www.npmjs.com/package/ng-pick-datetime -->
Start time:
<input [(ngModel)]="startTime" [owlDateTime]="dtStart" [owlDateTimeTrigger]="dtStart" placeholder="Start time" style="margin-right: 15px" >
<owl-date-time #dtStart pickerMode="dialog" (afterPickerClosed)="changeDateTime()"></owl-date-time>

End time:
<input [(ngModel)]="endTime" [owlDateTime]="dtEnd" [owlDateTimeTrigger]="dtEnd" placeholder="End time">
<owl-date-time #dtEnd pickerMode="dialog" (afterPickerClosed)="changeDateTime()"></owl-date-time>

<google-chart [data]="bubbleChartData"></google-chart>


<mat-checkbox *ngFor="let user of usersForListUsers; let i = index;" [checked]="user.show" (change)="checkBoxChange($event, i)">{{ user.id }} </mat-checkbox>

<br>
<br>


<div style="height: 400px; border: 1px solid lightgray;">
  <div style="height: 100%" leaflet (leafletMapReady)="onMapReady($event)" [leafletOptions]="mapOptions" [leafletLayers]="layers">
    Loading map...
  </div>
</div>

