<mat-card>
    <mat-card-content>
        <mat-tab-group dynamicHeight [selectedIndex]="1">

            <!-- ========== Signup tab ========== -->
            <mat-tab label="Sign up">
                <div class="example-large-box mat-elevation-z4">

                    <form #signUpForm="ngForm" (ngSubmit)="signUpUser(signUpForm)">

                        <mat-form-field appearance="outline">
                            <mat-label> Username </mat-label>
                            <input matInput placeholder="Input" #usernameInserted="ngModel" [(ngModel)]="usernameS" name="usernameS" maxlength="25" required>
                            <mat-hint align="end">{{usernameS?.length || 0}}/25</mat-hint>
                            <mat-hint align="start">Max 25 characters </mat-hint>
                            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                        </mat-form-field>

                        <br>

                        <mat-form-field appearance="outline">
                            <mat-label> Password </mat-label>
                            <input matInput placeholder="Pwd" type="password" [(ngModel)]="passwordS" name="passwordS" #passwordInserted="ngModel" required>
                            <mat-icon matSuffix>lock</mat-icon>
                        </mat-form-field>

                        <br>

                        <mat-form-field appearance="outline">
                            <mat-label> Ripeti Password </mat-label>
                            <input matInput placeholder="Pwd" type="password" [(ngModel)]="passwordSRepeat" name="passwordSRepeat" #passwordInserted="ngModel" required>
                            <mat-icon matSuffix>lock</mat-icon>
                        </mat-form-field>


                        <br>

                        <button mat-raised-button color="primary">Sign up</button>

                        <div *ngIf="loadingProgress">
                            <br>
                            <mat-progress-bar mode="indeterminate" color="warn"></mat-progress-bar>
                        </div>
                    </form>

                </div>
            </mat-tab>
            <!-- ========== End of signup tab ========== -->


            <!-- ========== Login tab ========== -->
            <mat-tab label="Login">
                <div class="example-large-box mat-elevation-z4">

                    <form #loginForm="ngForm" (ngSubmit)="loginUser(loginForm)">
                        <mat-form-field appearance="outline">
                            <mat-label> Username </mat-label>
                            <input matInput placeholder="Input" #usernameInserted="ngModel" [(ngModel)]="usernameL" name="usernameL" maxlength="25" required>
                            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                        </mat-form-field>

                        <div *ngIf="!usernameInserted.valid && usernameInserted.touched">
                            Username is required!
                        </div>

                        <br>

                        <mat-form-field appearance="outline">
                            <mat-label> Password </mat-label>
                            <input matInput placeholder="Pwd" type="password" [(ngModel)]="passwordL" name="passwordL" #passwordInserted="ngModel" required>
                            <mat-icon matSuffix>lock</mat-icon>
                        </mat-form-field>

                        <div *ngIf="!passwordInserted.valid && passwordInserted.touched">
                            Password is required!
                        </div>

                        <br>

                        <button mat-raised-button color="primary">Login</button>

                        <div *ngIf="loadingProgress">
                            <br>
                            <mat-progress-bar mode="indeterminate" color="warn"></mat-progress-bar>
                        </div>
                    </form>

                </div>
            </mat-tab>
            <!-- ========== End of login tab ========== -->

        </mat-tab-group>
    </mat-card-content>
</mat-card>