.mat-raised-button{
    margin: 0px 5px 0px 5px;
}

.homeWrapper{
  /* border: 1px solid red; */
  min-height: 80%;
  margin-top: 25px;
  margin-left: 15%;
  margin-right: 15%;

  background-color: white;
  border-radius: 1%;
  
  padding: 25px;
}