<p *ngIf="positionCounter != 0">
  Posizioni selezionate:
  <b>{{ positionCounter }}</b>
</p>

<table mat-table *ngIf="dataSource.length != 0" [dataSource]="dataSource" class="mat-elevation-z8">

  <ng-container matColumnDef="archiveId">
    <th mat-header-cell *matHeaderCellDef> Archive ID </th>
    <td mat-cell *matCellDef="let element"> {{element.archiveId}} </td>
  </ng-container>

  <ng-container matColumnDef="bought">
    <th mat-header-cell *matHeaderCellDef> Bought </th>
    <td mat-cell *matCellDef="let element">
      <b>{{element.bought}}</b>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<br>
<br>

<h1 *ngIf="dataSource.length == 0">Nessuna posizione da comprare</h1>

<button mat-raised-button style="margin-right: 250px" *ngIf="dataSource.length != 0" (click)="cancel()">Cancel</button>
<button mat-raised-button *ngIf="dataSource.length != 0" color="warn" (click)="buy()">Ok</button>

<button mat-raised-button *ngIf="dataSource.length == 0" color="" (click)="confirm()">Ok</button>