<h1 style="text-align: center">Group 0 App</h1>


<br>

<mat-card>
  <mat-card-header>
      <mat-card-title>Members</mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
  </mat-card-header>

  <mat-card-content style="font-size: 25px;">
    <div class="member">
      <img align="middle" style="border-radius: 50%; height:100px" src="assets/profile-pictures/Conigliaro.jpg">
      Conigliaro Fausto
    </div>
    <div class="member">
      <img align="middle"  style="border-radius: 50%; height:100px" src="assets/profile-pictures/Mignano.jpg">
      Mignano Antonio
    </div>
    <div class="member">
      <img align="middle"  style="border-radius: 50%; height:100px" src="assets/profile-pictures/Monica.jpg">
      Mina Monica
    </div>
    <div class="member">
      <img align="middle"  style="border-radius: 50%; height:100px" src="assets/profile-pictures/Prone.jpg">
      Prone Sara
    </div>

  </mat-card-content>
</mat-card>