<mat-toolbar>
  <span>Group0 Application</span>
  <span class="fill-remaining-space"></span>

  <span>
    <a routerLink="/home" mat-raised-button color="primary">Home</a>
  </span>

  <span *ngIf="showLogin">
    <a routerLink="/login" mat-raised-button color="primary">Login or Sign up</a>
  </span>

  <span *ngIf="showUser">
    <a routerLink="/user/view-insert" mat-raised-button color="primary">User</a>
  </span>

  <span *ngIf="showMap">
    <a routerLink="/user/map" mat-raised-button color="primary">Map</a>
  </span>

  <span *ngIf="showLogout">
    <button mat-raised-button color="primary" (click)="logout()">Logout</button>
  </span>

</mat-toolbar>