/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@import "~ng-pick-datetime/assets/style/picker.min.css";

html, body, .viewport {
    width: 100%;
    height: 100%;
    margin: 0;

    background-color: rgb(41, 41, 41)
  }
